<%- include ('css.ejs') %>
  <%- include ('header.ejs') %>
    <!-- mt search popup start here -->
    <%- include ('search.ejs') %>
      <!-- mt search popup end here -->
      <!-- Main of the Page -->
      <main id="mt-main">
        <!-- Mt Content Banner of the Page -->
        <section class="mt-contact-banner wow fadeInUp" data-wow-delay="0.4s"
          style="background-image: url(http://placehold.it/1920x205);">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h1>GIỚI THIỆU</h1>
                <!-- <nav class="breadcrumbs">
                <ul class="list-unstyled">
                  <li><a href="index.html">home <i class="fa fa-angle-right"></i></a></li>
                  <li>About Us</li>
                </ul>
              </nav> -->
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Content Banner of the Page end -->
        <!-- Mt About Section of the Page -->
        <section class="mt-about-sec wow fadeInUp" data-wow-delay="0.4s">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="txt">
                  <h2>GIỚI THIỆU</h2>
                  <p>Công ty DNTN SX TM DV Danh Huy Phát là một doanh nghiệp hoạt động trong lĩnh vực sản xuất các sản
                    phẩm chủ yếu làm từ xi măng theo yêu cầu của khách hàng. Trong suốt 22 năm qua, Danh Huy Phát không
                    chỉ cung cấp nhiều đơn hàng lớn nhỏ đến khách hàng trong nước mà còn xuất khẩu ra nhiều nước trên
                    thế giới. Xưởng sản xuất làm việc liên tục với công suất lớn, đội ngũ công nhân lành nghề nhiều năm
                    kinh nghiệm đầy nhiệt huyết, sáng tạo và tỉ mỉ trong từng công đoạn đã tạo nên một Danh Huy Phát có
                    chỗ đứng vững chắc trong lòng người tiêu dùng. Từ những ngày đầu thành lập công ty, đội ngũ chăm sóc
                    khách hàng luôn đảm bảo việc tư vấn tận tâm, tận tình, hết mình, ưu tiên cho khách hàng và sự lựa
                    chọn của khách hàng. Bên cạnh đó, Danh Huy Phát luôn cải tiến không ngừng, áp dụng những kỹ thuật
                    công nghệ cao vào quy trình sản xuất và quản lý một cách nghiêm ngặt, không ngừng học hỏi, không
                    ngừng vươn lên để tạo ra sản phẩm tốt nhất, chất lượng nhất và vận chuyển nhanh chóng đến người tiêu
                    dùng trong nước và quốc tế. </p>
                  <p>Xưởng sản xuất chính của Danh Huy Phát đặt tại 175/25A, đường Hoàng Minh Chánh, khu phố An Hòa,
                    phường Hóa An, thành phố Biên Hòa, tỉnh Đồng Nai do ông Cao Thế Danh làm chủ và quản lý. Tại đây có
                    phòng trưng bày sản phẩm, khách hàng có thể đến để trực tiếp xem qua sản phẩm, và cũng có thể tham
                    quan xưởng sản xuất Danh Huy Phát.
                    Nhận thấy được tiềm năng của doanh nghiệp không chỉ phát triển ở Đồng Nai, Danh Huy Phát hiện nay đã
                    có nhiều phòng trưng bày sản phẩm ở các tỉnh như ….(địa chỉ). Các phòng trưng bày này luôn luôn mở
                    cửa chào đón khách hàng. Đối với khách hàng ở các tỉnh nói trên, thời gian vận chuyển sẽ được rút
                    ngắn.
                  </p>
                  <h2>SẢN PHẨM</h2>
                  <h4>Sản phẩm chất lượng cao: </h4>
                  <p>Danh Huy Phát làm chủ trong quá trình sản xuất, tự chủ trong các khâu và khuôn mẫu. Ngoài ra,
                    nguyên liệu đầu vào được quản lý chặt chẽ đảm bảo tiêu chuẩn nên có nguồn gốc rõ ràng và không có
                    chất độc hại.</p>
                  <h4>Sản phẩm đa dạng và sản xuất theo yêu cầu: </h4>
                  <p>Sản phẩm của Danh Huy Phát chủ yếu làm từ xi măng và rất đa dạng từ chậu cây, bàn, ghế, cho đến
                    khay đựng, chân đèn…
                    <br>Ngoài những mặt hàng có sẵn tại xưởng, Danh Huy Phát còn sản xuất sản phẩm:
                  <ul>
                    <li>Dựa trên thiết kế có sẵn của khách hàng.</li>
                    <li>Thiết kế mới theo yêu cầu của khách hàng.</li>
                  </ul>
                  Bất kể là sản phẩm gì, hình dạng gì, kích cỡ hay màu sắc như thế nào, Danh Huy Phát luôn cố gắng tạo
                  ra sản phẩm đúng ý nhất làm hài lòng khách hàng. Trước khi đưa vào sản xuất hàng loạt, Danh Huy Phát
                  sẽ cung cấp theo bản thiết kế và sản phẩm mẫu cho khách hàng kiểm tra để đảm bảo chất lượng của toàn
                  bộ sản phẩm.
                  </p>
                  <h4>Sản xuất thủ công mang tính thẩm mỹ cao: </h4>
                  <p>Sản phẩm của Danh Huy Phát được làm thủ công một cách tỉ mỉ, chính xác và sắc nét bởi đội ngũ công
                    nhân lành nghề và giàu kinh nghiệm. Hoa văn và họa tiết trên sản phẩm đa dạng, có thể thay đổi để
                    phù hợp với nhiều mục đích sử dụng khác nhau. Ngoài chất liệu chủ yếu là xi măng, Danh Huy Phát có
                    thể thêm các loại đá theo yêu cầu của khách hàng trong quá trình sản xuất để sản phẩm cuối cùng
                    không chỉ bền chắc mà còn mang tính thẩm mỹ cao.</p>
                  <h4>Đóng gói chắc chắn, vận chuyển cẩn thận: </h4>
                  <p>Từ xưởng sản xuất đến tay người tiêu dùng, Danh Huy Phát luôn trân trọng từng sản phẩm. Danh Huy
                    Phát đảm bảo hàng khi đến nơi luôn trong tình trạng nguyên vẹn, cam kết chất lượng tốt nhất và giao
                    hàng đúng thời hạn.</p>
                </div>
                <div class="mt-follow-holder">
                  <span class="title">Follow Us</span>
                  <!-- Social Network of the Page -->
                  <ul class="list-unstyled social-network">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                  </ul>
                  <!-- Social Network of the Page end -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt About Section of the Page -->
        <!-- Mt Workspace Section of the Page -->
      </main><!-- Main of the Page end -->
      <!-- footer of the Page -->
      <%- include ('footer.ejs') %>
        <%- include ('js.ejs') %>