<%- include ('css.ejs') %>
  <%- include ('header.ejs') %>
    <!-- mt search popup start here -->
    <%- include ('search.ejs') %>
      <!-- mt search popup end here -->
      <!-- Main of the Page -->
      <main id="mt-main">
        <!-- Mt Contact Banner of the Page -->
        <section class="mt-contact-banner style4 wow fadeInUp" data-wow-delay="0.4s"
          style="background-image: url(http://placehold.it/1920x205);">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h1>
                  <%=blog.title%>
                </h1>
                <!-- <nav class="breadcrumbs">
              <ul class="list-unstyled">
                <li><a href="index.html">Home <i class="fa fa-angle-right"></i></a></li>
                <li><a href="#">Blog <i class="fa fa-angle-right"></i></a></li>
                <li>Category</li>
              </ul>
            </nav> -->
              </div>
            </div>
            <!-- <div class="row">
          <div class="col-xs-12">
            <a href="#" class="search">Search <i class="fa fa-search"></i></a>
          </div>
        </div> -->
          </div>
        </section>
        <!-- Mt Contact Banner of the Page end -->

        <!-- Mt Blog Detail of the Page -->
        <div class="mt-blog-detail style1">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-8 wow fadeInUp" data-wow-delay="0.4s">
                <!-- Blog Post of the Page -->
                <article class="blog-post detail">
                  <!-- <div class="img-holder">
                <a href="blog-right-sidebar.html"><img src="http://placehold.it/790x365" alt="image description"></a>
              </div>
              <time class="time" datetime="2016-02-03 20:00"><strong>25</strong>April</time> -->
                  <div class="blog-txt">
                    <h2><a href="#">
                        <%=blog.title%>
                      </a></h2>
                    <ul class="list-unstyled blog-nav">
                      <li> <a href="#"><i class="fa fa-clock-o"></i>
                          <%=blog.createdAt%>
                        </a></li>
                      <!-- <li> <a href="#"><i class="fa fa-list"></i>Design</a></li>
                  <li> <a href="#"><i class="fa fa-comment"></i>2 Comments</a></li> -->
                    </ul>
                    <%-blog.description%>
                  </div>
                </article>
                <!-- Blog Post of the Page end -->
                <!-- Mt Comments Section of the Page end -->
              </div>
              <div class="col-xs-12 col-sm-4 text-right wow fadeInUp" data-wow-delay="0.4s">
                <!-- Category Widget of the Page -->
                <section class="widget category-widget">
                  <h3>DANH MỤC SẢN PHẨM</h3>
                  <ul class="list-unstyled widget-nav">
                    <% categories.forEach((category)=> { %>
                      <li><a href="/products/<%=category.slug%>">
                          <%=category.title%>
                        </a></li>
                      <% }) %>
                  </ul>
                </section>
                <!-- Tag Widget of the Page -->
              </div>
            </div>
          </div>
        </div>
        <!-- Mt Blog Detail of the Page end -->
      </main>
      <!-- footer of the Page -->
      <%- include ('footer.ejs') %>
        <%- include ('js.ejs') %>