<%- include ('css.ejs') %>
    <%- include ('header.ejs') %>
        <!-- mt search popup start here -->
        <!-- mt search popup end here -->
        <%- include ('search.ejs') %>
            <!-- mt main start here -->
            <main id="mt-main">
                <!-- Mt Contact Banner of the Page -->
                <section class="mt-contact-banner style4 wow fadeInUp" data-wow-delay="0.4s"
                    style="background-image: url(http://placehold.it/1920x205);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <h1>SẢN PHẨM</h1>
                                <!-- Breadcrumbs of the Page -->
                                <!-- <nav class="breadcrumbs">
                            <ul class="list-unstyled">
                                <li><a href="index.html">Home <i class="fa fa-angle-right"></i></a></li>
                                <li><a href="product-detail.html">Products <i class="fa fa-angle-right"></i></a></li>
                                <li>Chairs</li>
                            </ul>
                        </nav> -->
                                <!-- Breadcrumbs of the Page end -->
                            </div>
                        </div>
                    </div>
                </section><!-- Mt Contact Banner of the Page end -->
                <div class="container">
                    <div class="row">
                        <!-- sidebar of the Page start here -->
                        <aside id="sidebar" class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                            <!-- shop-widget of the Page start here -->
                            <% if (categories) { %>
                                <section class="shop-widget">
                                    <h2>DANH MỤC</h2>
                                    <!-- category list start here -->
                                    <ul class="list-unstyled category-list">
                                        <% categories.forEach( category=> { %>
                                            <li>
                                                <a href="/products/<%= category.slug %>">
                                                    <span class="name">
                                                        <%= category.title %>
                                                    </span>
                                                </a>
                                            </li>
                                            <% }) %>
                                    </ul><!-- category list end here -->
                                </section><!-- shop-widget of the Page end here -->
                                <% } %>
                        </aside><!-- sidebar of the Page end here -->
                        <div class="col-xs-12 col-sm-8 col-md-9 wow fadeInRight" data-wow-delay="0.4s">
                            <!-- mt shoplist header start here -->
                            <header class="mt-shoplist-header">
                                <!-- btn-box start here -->
                                <div class="btn-box">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#" class="drop-link">---- Sắp xếp ----<i aria-hidden="true"
                                                    class="fa fa-angle-down"></i>
                                            </a>
                                            <div class="drop">
                                                <ul class="list-unstyled">
                                                    <li><a href="/products/by_price_desc">Giá cao đến thấp</a></li>
                                                    <li><a href="/products/by_price_asc">Giá thấp đến cao</a></li>
                                                    <li><a href="/products/by_time_desc">Mới nhất</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <!-- <li><a class="mt-viewswitcher" href="#"><i class="fa fa-th-large"
                                            aria-hidden="true"></i></a></li>
                                <li><a class="mt-viewswitcher" href="#"><i class="fa fa-th-list"
                                            aria-hidden="true"></i></a></li> -->
                                    </ul>
                                </div><!-- btn-box end here -->
                                <!-- mt-textbox start here -->
                                <!-- <div class="mt-textbox">
                            <p>Showing <strong>1–9</strong> of <strong>65</strong> results</p>
                            <p>View <a href="#">9</a> / <a href="#">18</a> / <a href="#">27</a> / <a href="#">All</a>
                            </p>
                        </div> -->
                                <!-- mt-textbox end here -->
                            </header><!-- mt shoplist header end here -->
                            <!-- product post start here -->
                            <% products.forEach((product)=> { %>
                                <% if(product.available) { %>
                                    <div class="product-post">
                                        <!-- img holder start here -->
                                        <div class="img-holder">
                                            <img src="<%= product.imagePaths[0] %>" alt="image description" height="300" width="300">
                                        </div><!-- img holder end here -->
                                        <!-- txt holder start here -->
                                        <div class="txt-holder">
                                            <!-- align left start here -->
                                            <div class="align-left">
                                                <strong class="title"><a
                                                        href="/products/<%=product.category.slug%>/<%=product._id%>">
                                                        <%=product.title%>
                                                    </a></strong>
                                                <span class="price">
                                                    <!-- <i class="fa fa-eur"></i> -->
                                                    <%=product.price%> &#x20AB;
                                                </span>
                                                <p>
                                                    <% product.sizes.forEach((size)=> { %>
                                                        <li>
                                                            <%=size%>
                                                        </li>
                                                        <% }) %>
                                                </p>
                                            </div><!-- align left end here -->
                                            <!-- align right start here -->
                                            <div class="align-right">
                                                <a href="/add-to-cart/<%=product._id%>" class="btn-cart">THÊM VÀO
                                                    GIỎ</a>
                                            </div><!-- align right end here -->
                                        </div><!-- txt holder end here -->
                                    </div><!-- product post end here -->
                                    <% }}) %>
                                        <!-- mt pagination start here -->
                                        <nav class="mt-pagination">
                                            <%- include ('pagination.ejs') %>
                                        </nav><!-- mt pagination end here -->
                        </div>
                    </div>
                </div>
            </main><!-- mt main end here -->
            <%- include ('footer.ejs') %>
                <%- include ('js.ejs') %>